lavenderWS-Client/src/wsdl/localhost_8082/lavenderWS/dosenService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.lavenderws.lavender.itb.id.ac/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.lavenderws.lavender.itb.id.ac/">

<xs:element name="dosenEntity" type="tns:dosenEntity"/>

<xs:element name="findAllDosen" type="tns:findAllDosen"/>

<xs:element name="findAllDosenResponse" type="tns:findAllDosenResponse"/>

<xs:element name="findDosenByID" type="tns:findDosenByID"/>

<xs:element name="findDosenByIDResponse" type="tns:findDosenByIDResponse"/>

<xs:element name="findDosenByNameLike" type="tns:findDosenByNameLike"/>

<xs:element name="findDosenByNameLikeResponse" type="tns:findDosenByNameLikeResponse"/>

<xs:complexType name="findAllDosen">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllDosenResponse">
<xs:sequence>
<xs:element name="return" type="tns:dosenEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dosenEntity">
<xs:sequence>
<xs:element name="gelarBelakang" type="xs:string" minOccurs="0"/>
<xs:element name="gelarDepan" type="xs:string" minOccurs="0"/>
<xs:element name="inisialDosen" type="xs:string" minOccurs="0"/>
<xs:element name="namaDosen" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findDosenByID">
<xs:sequence>
<xs:element name="inisial" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findDosenByIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:dosenEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findDosenByNameLike">
<xs:sequence>
<xs:element name="str" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findDosenByNameLikeResponse">
<xs:sequence>
<xs:element name="return" type="tns:dosenEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>