lavenderWS-Client/src/wsdl/localhost_8082/lavenderWS/dosenService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.lavenderws.lavender.itb.id.ac/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.lavenderws.lavender.itb.id.ac/" name="dosenService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.lavenderws.lavender.itb.id.ac/" schemaLocation="http://localhost:8082/lavenderWS/dosenService?xsd=1"/>
</xsd:schema>
</types>
<message name="findDosenByNameLike">
<part name="parameters" element="tns:findDosenByNameLike"/>
</message>
<message name="findDosenByNameLikeResponse">
<part name="parameters" element="tns:findDosenByNameLikeResponse"/>
</message>
<message name="findDosenByID">
<part name="parameters" element="tns:findDosenByID"/>
</message>
<message name="findDosenByIDResponse">
<part name="parameters" element="tns:findDosenByIDResponse"/>
</message>
<message name="findAllDosen">
<part name="parameters" element="tns:findAllDosen"/>
</message>
<message name="findAllDosenResponse">
<part name="parameters" element="tns:findAllDosenResponse"/>
</message>
<portType name="DosenService">
<operation name="findDosenByNameLike">
<input wsam:Action="http://service.lavenderws.lavender.itb.id.ac/DosenService/findDosenByNameLikeRequest" message="tns:findDosenByNameLike"/>
<output wsam:Action="http://service.lavenderws.lavender.itb.id.ac/DosenService/findDosenByNameLikeResponse" message="tns:findDosenByNameLikeResponse"/>
</operation>
<operation name="findDosenByID">
<input wsam:Action="http://service.lavenderws.lavender.itb.id.ac/DosenService/findDosenByIDRequest" message="tns:findDosenByID"/>
<output wsam:Action="http://service.lavenderws.lavender.itb.id.ac/DosenService/findDosenByIDResponse" message="tns:findDosenByIDResponse"/>
</operation>
<operation name="findAllDosen">
<input wsam:Action="http://service.lavenderws.lavender.itb.id.ac/DosenService/findAllDosenRequest" message="tns:findAllDosen"/>
<output wsam:Action="http://service.lavenderws.lavender.itb.id.ac/DosenService/findAllDosenResponse" message="tns:findAllDosenResponse"/>
</operation>
</portType>
<binding name="DosenServicePortBinding" type="tns:DosenService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findDosenByNameLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findDosenByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllDosen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="dosenService">
<port name="DosenServicePort" binding="tns:DosenServicePortBinding">
<soap:address location="http://localhost:8082/lavenderWS/dosenService"/>
</port>
</service>
</definitions>