lavenderWS-Client/src/wsdl/localhost_8082/lavenderWS/mahasiswaService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.lavenderws.lavender.itb.id.ac/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.lavenderws.lavender.itb.id.ac/" name="mahasiswaService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.lavenderws.lavender.itb.id.ac/" schemaLocation="http://localhost:8082/lavenderWS/mahasiswaService?xsd=1"/>
</xsd:schema>
</types>
<message name="findAllMahasiswa">
<part name="parameters" element="tns:findAllMahasiswa"/>
</message>
<message name="findAllMahasiswaResponse">
<part name="parameters" element="tns:findAllMahasiswaResponse"/>
</message>
<message name="findMahasiswaByID">
<part name="parameters" element="tns:findMahasiswaByID"/>
</message>
<message name="findMahasiswaByIDResponse">
<part name="parameters" element="tns:findMahasiswaByIDResponse"/>
</message>
<message name="findMahasiswaByNameLike">
<part name="parameters" element="tns:findMahasiswaByNameLike"/>
</message>
<message name="findMahasiswaByNameLikeResponse">
<part name="parameters" element="tns:findMahasiswaByNameLikeResponse"/>
</message>
<portType name="MahasiswaService">
<operation name="findAllMahasiswa">
<input wsam:Action="http://service.lavenderws.lavender.itb.id.ac/MahasiswaService/findAllMahasiswaRequest" message="tns:findAllMahasiswa"/>
<output wsam:Action="http://service.lavenderws.lavender.itb.id.ac/MahasiswaService/findAllMahasiswaResponse" message="tns:findAllMahasiswaResponse"/>
</operation>
<operation name="findMahasiswaByID">
<input wsam:Action="http://service.lavenderws.lavender.itb.id.ac/MahasiswaService/findMahasiswaByIDRequest" message="tns:findMahasiswaByID"/>
<output wsam:Action="http://service.lavenderws.lavender.itb.id.ac/MahasiswaService/findMahasiswaByIDResponse" message="tns:findMahasiswaByIDResponse"/>
</operation>
<operation name="findMahasiswaByNameLike">
<input wsam:Action="http://service.lavenderws.lavender.itb.id.ac/MahasiswaService/findMahasiswaByNameLikeRequest" message="tns:findMahasiswaByNameLike"/>
<output wsam:Action="http://service.lavenderws.lavender.itb.id.ac/MahasiswaService/findMahasiswaByNameLikeResponse" message="tns:findMahasiswaByNameLikeResponse"/>
</operation>
</portType>
<binding name="MahasiswaServicePortBinding" type="tns:MahasiswaService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAllMahasiswa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findMahasiswaByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findMahasiswaByNameLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="mahasiswaService">
<port name="MahasiswaServicePort" binding="tns:MahasiswaServicePortBinding">
<soap:address location="http://localhost:8082/lavenderWS/mahasiswaService"/>
</port>
</service>
</definitions>