lavenderWS-Client/src/wsdl/localhost_8082/lavenderWS/ruanganService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.lavenderws.lavender.itb.id.ac/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.lavenderws.lavender.itb.id.ac/">

<xs:element name="findAllRuangan" type="tns:findAllRuangan"/>

<xs:element name="findAllRuanganResponse" type="tns:findAllRuanganResponse"/>

<xs:element name="findRuanganByID" type="tns:findRuanganByID"/>

<xs:element name="findRuanganByIDResponse" type="tns:findRuanganByIDResponse"/>

<xs:element name="findRuanganByNameLike" type="tns:findRuanganByNameLike"/>

<xs:element name="findRuanganByNameLikeResponse" type="tns:findRuanganByNameLikeResponse"/>

<xs:element name="ruanganEntity" type="tns:ruanganEntity"/>

<xs:complexType name="findRuanganByID">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRuanganByIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:ruanganEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ruanganEntity">
<xs:sequence>
<xs:element name="kdRuangan" type="xs:string" minOccurs="0"/>
<xs:element name="namaRuangan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRuanganByNameLike">
<xs:sequence>
<xs:element name="str" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRuanganByNameLikeResponse">
<xs:sequence>
<xs:element name="return" type="tns:ruanganEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllRuangan">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllRuanganResponse">
<xs:sequence>
<xs:element name="return" type="tns:ruanganEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>