lavenderWS-Client/src/wsdl/localhost_8082/lavenderWS/ruanganService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.lavenderws.lavender.itb.id.ac/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.lavenderws.lavender.itb.id.ac/" name="ruanganService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.lavenderws.lavender.itb.id.ac/" schemaLocation="http://localhost:8082/lavenderWS/ruanganService?xsd=1"/>
</xsd:schema>
</types>
<message name="findRuanganByID">
<part name="parameters" element="tns:findRuanganByID"/>
</message>
<message name="findRuanganByIDResponse">
<part name="parameters" element="tns:findRuanganByIDResponse"/>
</message>
<message name="findRuanganByNameLike">
<part name="parameters" element="tns:findRuanganByNameLike"/>
</message>
<message name="findRuanganByNameLikeResponse">
<part name="parameters" element="tns:findRuanganByNameLikeResponse"/>
</message>
<message name="findAllRuangan">
<part name="parameters" element="tns:findAllRuangan"/>
</message>
<message name="findAllRuanganResponse">
<part name="parameters" element="tns:findAllRuanganResponse"/>
</message>
<portType name="RuanganService">
<operation name="findRuanganByID">
<input wsam:Action="http://service.lavenderws.lavender.itb.id.ac/RuanganService/findRuanganByIDRequest" message="tns:findRuanganByID"/>
<output wsam:Action="http://service.lavenderws.lavender.itb.id.ac/RuanganService/findRuanganByIDResponse" message="tns:findRuanganByIDResponse"/>
</operation>
<operation name="findRuanganByNameLike">
<input wsam:Action="http://service.lavenderws.lavender.itb.id.ac/RuanganService/findRuanganByNameLikeRequest" message="tns:findRuanganByNameLike"/>
<output wsam:Action="http://service.lavenderws.lavender.itb.id.ac/RuanganService/findRuanganByNameLikeResponse" message="tns:findRuanganByNameLikeResponse"/>
</operation>
<operation name="findAllRuangan">
<input wsam:Action="http://service.lavenderws.lavender.itb.id.ac/RuanganService/findAllRuanganRequest" message="tns:findAllRuangan"/>
<output wsam:Action="http://service.lavenderws.lavender.itb.id.ac/RuanganService/findAllRuanganResponse" message="tns:findAllRuanganResponse"/>
</operation>
</portType>
<binding name="RuanganServicePortBinding" type="tns:RuanganService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findRuanganByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRuanganByNameLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllRuangan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ruanganService">
<port name="RuanganServicePort" binding="tns:RuanganServicePortBinding">
<soap:address location="http://localhost:8082/lavenderWS/ruanganService"/>
</port>
</service>
</definitions>