lavenderWS-Client/src/wsdl/localhost_8082/lavenderWS/topikService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.lavenderws.lavender.itb.id.ac/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.lavenderws.lavender.itb.id.ac/" name="topikService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.lavenderws.lavender.itb.id.ac/" schemaLocation="http://localhost:8082/lavenderWS/topikService?xsd=1"/>
</xsd:schema>
</types>
<message name="findTopikById">
<part name="parameters" element="tns:findTopikById"/>
</message>
<message name="findTopikByIdResponse">
<part name="parameters" element="tns:findTopikByIdResponse"/>
</message>
<message name="findTopikByNameLike">
<part name="parameters" element="tns:findTopikByNameLike"/>
</message>
<message name="findTopikByNameLikeResponse">
<part name="parameters" element="tns:findTopikByNameLikeResponse"/>
</message>
<message name="findAllTopik">
<part name="parameters" element="tns:findAllTopik"/>
</message>
<message name="findAllTopikResponse">
<part name="parameters" element="tns:findAllTopikResponse"/>
</message>
<portType name="TopikService">
<operation name="findTopikById">
<input wsam:Action="http://service.lavenderws.lavender.itb.id.ac/TopikService/findTopikByIdRequest" message="tns:findTopikById"/>
<output wsam:Action="http://service.lavenderws.lavender.itb.id.ac/TopikService/findTopikByIdResponse" message="tns:findTopikByIdResponse"/>
</operation>
<operation name="findTopikByNameLike">
<input wsam:Action="http://service.lavenderws.lavender.itb.id.ac/TopikService/findTopikByNameLikeRequest" message="tns:findTopikByNameLike"/>
<output wsam:Action="http://service.lavenderws.lavender.itb.id.ac/TopikService/findTopikByNameLikeResponse" message="tns:findTopikByNameLikeResponse"/>
</operation>
<operation name="findAllTopik">
<input wsam:Action="http://service.lavenderws.lavender.itb.id.ac/TopikService/findAllTopikRequest" message="tns:findAllTopik"/>
<output wsam:Action="http://service.lavenderws.lavender.itb.id.ac/TopikService/findAllTopikResponse" message="tns:findAllTopikResponse"/>
</operation>
</portType>
<binding name="TopikServicePortBinding" type="tns:TopikService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findTopikById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findTopikByNameLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllTopik">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="topikService">
<port name="TopikServicePort" binding="tns:TopikServicePortBinding">
<soap:address location="http://localhost:8082/lavenderWS/topikService"/>
</port>
</service>
</definitions>