lavenderWS-Client/src/wsdl/localhost_8082/lavenderWS/topikService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.lavenderws.lavender.itb.id.ac/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.lavenderws.lavender.itb.id.ac/">

<xs:element name="findAllTopik" type="tns:findAllTopik"/>

<xs:element name="findAllTopikResponse" type="tns:findAllTopikResponse"/>

<xs:element name="findTopikById" type="tns:findTopikById"/>

<xs:element name="findTopikByIdResponse" type="tns:findTopikByIdResponse"/>

<xs:element name="findTopikByNameLike" type="tns:findTopikByNameLike"/>

<xs:element name="findTopikByNameLikeResponse" type="tns:findTopikByNameLikeResponse"/>

<xs:element name="topikEntity" type="tns:topikEntity"/>

<xs:complexType name="findTopikByNameLike">
<xs:sequence>
<xs:element name="str" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findTopikByNameLikeResponse">
<xs:sequence>
<xs:element name="return" type="tns:topikEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="topikEntity">
<xs:sequence>
<xs:element name="bidang" type="xs:string" minOccurs="0"/>
<xs:element name="idTopik" type="xs:int" minOccurs="0"/>
<xs:element name="namaTopik" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllTopik">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllTopikResponse">
<xs:sequence>
<xs:element name="return" type="tns:topikEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findTopikById">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findTopikByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:topikEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>